.filter {
    background-color: #eee;
}

.red       { background-color: #ea4213; }

.yellow    { background-color: #efe431; }

.black     { background-color: #40404c; }

.grey      { background-color: #78777d; }

.blue      { background-color: #4e97f1; }

.orange    { background-color: #ef9542; }

.green     { background-color: #1b8e34;}

.silver    { background-color: rgb(236, 234, 235); }

.beige     { background-color: rgb(242, 232, 220); }

.fuchsia   { background-color: rgb(224, 136, 186); }

.purple    { background-color: rgb(182, 144, 195); }




.gold      { background-color: rgb(239, 208, 141); }

.bronze    { background-color: rgb(214, 182, 131); }

.brown     { background-color: rgb(135, 115, 116); }

.bordeaux  { background-color: rgb(177, 115, 116); }

.pink      { background-color: rgb(248, 194, 217); }

.black     { background-color: rgb(56, 57, 59); }
