body {
    font-family: Calibri, Arial, Tahoma;
    background-color: #fff;
    margin-bottom: 50px;
    margin-top: 0;
    position: relative;
}

footer {
    background-color: #23242d;
    color: white;
    margin-top: 40px;
    bottom: -100px;
    height: 60px;
    position: absolute;
    width: 100%;
}

.footer-content {
    margin: 20px 0;
}

.footer-navigation {
    float: left;
    margin-right: 20px;
}

.navbar {
    background-color: #23242d;
    height: 50px;
    margin-bottom: 0;
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-brand {
        height: 30px;
        line-height: 20px;
    }
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url('http://wallpapercave.com/wp/mLoA3dT.jpg'); /* Temporary image */
    background-size: cover;
}

.test {
    background-color: green;
}

.qupeak-btn {
    padding: 7px 10px;
    font-size: 0.9em;
    text-transform: none;
    letter-spacing: 1px;
    transition-duration: .6s;
}

.btn-default {
    @extend .qupeak-btn;
    background-color: #199DDC;
    border: 1px solid #199DDC;
    color: #fff;
    &:hover {
        background-color: #007FBC;
        border: 1px solid #199DDC;
        color: white;
    }
}

.btn-green {
    @extend .qupeak-btn;
    background-color: #24c6a1;
    border: 1px solid #24c6a1;
    color: #fff;
    &:hover {
        background-color: #05ad86;
        border: 1px solid #24c6a1;
        color: white;
    }
}

.btn-orange {
    @extend .qupeak-btn;
    background-color: #ffa350;
    border: 1px solid #ffa350;
    color: #fff;
    &:hover {
        background-color: #e7842b;
        border: 1px solid #ffa350;
        color: white;
    }
}

.btn-pink {
    @extend .qupeak-btn;
    background-color: #ff6490;
    border: 1px solid #ff6490;
    color: #fff;
    &:hover {
        background-color: #f04273;
        border: 1px solid #ff6490;
        color: white;
    }
}

.btn-red {
    @extend .qupeak-btn;
    background-color: #AD2625;
    border: 1px solid #AD2625;
    color: #fff;
    &:hover {
        background-color: #8A0E0D;
        border: 1px solid #AD2625;
        color: white;
    }
}

.btn-violete {
    @extend .qupeak-btn;
    background-color: #8d91ff;
    border: 1px solid #8d91ff;
    color: #fff;
    &:hover {
        background-color: #6569e0;
        border: 1px solid #8d91ff;
        color: white;
    }
}
