.woman {
    background-color: #e4e4e4;
    padding: 20px 0;
    margin: 50px 0;
}

.man {
    padding: 20px 0;
    margin: 50px 0;
}

.children {
    background-color: #e4e4e4;
    padding: 20px 0;
    margin: 50px 0;
}

.div-image {
    height: 400px;
    overflow: hidden;
}
